.Facebook-Social-Logo {
  display:flex;
  justify-content: right;
  flex-direction: row;
}

.Roses-Image {
  display:flex;
  justify-content:left
}

.Apple-Roses {
  color: rgb(59, 80, 128);
  border-style:double;
  border-color: rgb(59, 80, 128);
  border-radius: 10px;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
